---
title: "5 Online Tools For Remote Teams – Teamweek Blog"
description: "Teamweek has been a successful remote team for years. Here’s 5 tools that make our lives easier."
layout: "landing-new"
theme_color: white
header_color: white page-header--home
---

<div class="single-header">
  <div class="single-title">
    <div class="single-title-box">
      <h1>5 Online Tools for Every Remote Team</h1>
      <div class="social share42init"></div>
    </div>
  </div>
</div>

<div class="content">
	<div class="post status-publish">
		<div class="entry-content">
			<h2>Intro</h2>
			<p>
				You’re well aware that when leading any team is a challenge in itself, when it comes to any remote setting, the challenges get a bit different – and as they’re not talked about, might seem even more daunting.
			</p>
			<blockquote>
				"We have made many mistakes and
				drawn a lot of conclusions that would
				be beneficial for everyone to know."
			</blockquote>
			<p>
				Being a remote company, we get frequently asked about project management methodologies that could help. Teamweek has been a successful remote team for years and we’re sure we have made many mistakes and drawn a lot of conclusions that would be beneficial for everyone to know. So fasten your seatbelt, we’re skipping through all the time management tips, and are instead going to run through the biggest obstacles in putting together a fully functioning remote team.
			</p>
			<h3>The Reality of Going Remote</h3>
			<p>
				If you have ever worked in a remote team, better yet, leading one, you know very well that there are pitfalls and stumbling blocks in almost every step.
			</p>
			<p>
				There are millions of things to decide: what kind of management style to imply, how much to give freedom and how to make sure everything gets done. How to motivate without controlling and how to facilitate trust while spending very little time by your colleagues’ side.
			</p>
			<h3>Connectedness and Communication</h3>
			<blockquote>
				"If you’re seemingly alone at
				all times, the feeling of
				isolation is easy to creep by."
			</blockquote>
			<p>
				The biggest stumbling block is connectedness. A lot of remote team members struggle in staying in touch, because if you’re seemingly alone at all times, the feeling of isolation is easy to creep by. With that comes the decline in teamwork, motivation, effectiveness and the overall outcome.
			</p>
			<p>
				The other thing you need to take into account is the fine line between freedom, trust and enforcement. Everyone needs space and to feel trusted in order to do the best job they can. And yet there are some who would like to take advantage from the remote setting.
			</p>
			<blockquote>
				"Most of the risks can be maintained
				while hiring the right people."
			</blockquote>
			<p>
				Sure, most of the risks can be maintained while hiring the right people – who can guide themselves, stay motivated in the most difficult situations and communicate clearly. But even then it’s tough to resist the urge to suspect everyone of slacking instead of working.
			</p>
			<p>
				Third thing you need to keep in mind is communication from your part. In remote settings, in whatever project management methodologies you might be invested in, there’s always a golden rule – it’s always better to overshare than not. If you have anything on your mind, say it. Ask questions. Also, make sure everyone understands what you’re trying to say. And that you understand them in return as well. If you think you’re overdoing it, you most probably are not.
			</p>
			<p>
				It’s not a big surprise that most of the things we mentioned here, boil down to communication. The bad news is, it will never be easy, to most people at least. But the good news is that communication, like any skill, can be learned and there are multiple tools to take some load off your shoulders.
			</p>

			<figure>
				<img src="/images/landings-new/slack.png" srcset="/images/landings-new/slack.png 1x, /images/landings-new/slack@2x.png 2x" alt="Slack Screenshot">
				<figcaption>Slack</figcaption>
			</figure>
			<h2>1. Slack</h2>
			<p>
				Everyone loves Slack – and for a great reason. It connects every person on your remote team into thematic and engaging chat rooms, which are now combined with audio and video chat capabilities.
			</p>
			<p>
				It helps to prevent and fight the isolation that could break any team. Because empowering the individuals on your team to chat and share creates the trust that every team needs to succeed.
			</p>
			<p>
				Slack, however, has its downsides as well. The constant connectedness can make it hard for people to concentrate. And if taken to extreme level, the feeling to be constantly alert and reachable can create anxiety. That’s why we have an agreement in our team that it’s only fair if people don’t answer right away. We actually encourage people to take some time off from Slack to concentrate on their work and get things done without distraction.
			</p>
			<p>
				Also, and this is a pro tip, mute all channels that are too energy consuming, yet not important enough to be updated on a regular basis.
			</p>

			<figure>
				<img src="/images/landings-new/teamweek.png" srcset="/images/landings-new/teamweek.png 1x, /images/landings-new/teamweek@2x.png 2x" alt="Teamweek Screenshot">
				<figcaption>Teamweek</figcaption>
			</figure>
			<h2>2. Teamweek</h2>
			<p>
				We eat our own dogfood. Teamweek is a planning tool that we rely on the most. To communicate plans, we also have a slack integration that makes sure everyone’s updated on how plans change and develop.
			</p>
			<p>
				We have a policy that everyone’s plans have to be constantly updated on Teamweek to make sure everyone stays on the same page. If anyone has questions about what’s in the pipeline, they can open Teamweek and be informed.
			</p>
			<p>
				As it’s equally as important to do the work – and make sure everyone understands what you’re occupied with. People who see each other on only team meetups and conferences, need to be extra sure their work ethic isn’t only there, but also communicated and therefore understandable to everyone.
			</p>
			<p>
				While cross-functional teams in a remote setting need to be set up knowingly and the hiring needs a lot of effort, not everyone working methods can be understood or accepted right away and people need time and effort to get accustomed to each-others flows. So planning on a timeline helps to divide the projects to individual tasks, set priorities and deadlines.
			</p>
			<p>
				While cross-functional teams in a remote setting need to be set up knowingly and the hiring needs a lot of effort, not everyone working methods can be understood or accepted right away and people need time and effort to get accustomed to each-others flows. So planning on a timeline helps to divide the projects to individual tasks, set priorities and deadlines.
			</p>

			<figure>
				<img src="/images/landings-new/trello.png" srcset="/images/landings-new/trello.png 1x, /images/landings-new/trello@2x.png 2x" alt="Teamweek Screenshot">
				<figcaption>Trello</figcaption>
			</figure>
			<h2>3. Trello</h2>
			<p>
				If you work on a very fast pace, it’s important to provide a space for ideation and random notes. And that’s how we use Trello. We have multiple boards, the most important though one for roadmapping (that’s the basis for a later planning on a timeline) and another for marketing and growth hacking related ideas.
			</p>
			<p>
				The latter gets used more frequently – and some of the boards get imported on Teamweek. We use the integration between those two frequently and the effect of it is quite interesting. It gets people engaged in ideating and frequently add ideas on the board. It takes the edge away in collaborating and showcases that everyone’s ideas are welcome. That, in turn, fosters trust and openness.
			</p>
			<p>
				Trello is also a great tool for setting priorities and making much needed choices during a busy day. The best practice, once anyone feels overwhelmed or anxious, is to just start working. And Trello is created to take tasks one by one until the energy runs out.
			</p>

			<figure>
				<img src="/images/landings-new/google_drive.png" srcset="/images/landings-new/google_drive.png 1x, /images/landings-new/google_drive@2x.png 2x" alt="Teamweek Screenshot">
				<figcaption>Google Drive</figcaption>
			</figure>
			<h2>4. Google Drive</h2>
			<p>
				We would be lost without Google Drive. Every bit of our documentation, every line of copy, all metrics and revenue plans are available for every single team member at all times.
			</p>
			<p>
				We keep an open policy so everyone would be included in our common goal. It helps in communication to have every single document and spec just a link away, to be included in any comment or conversation just when it’s needed.
			</p>
			<p>
				It also works the other way around. The agreement to put everything out in the open, reinforces the startup mindset, allowing people to create and iterate rapidly, by not allowing people to sit on and grow attached to their assignments for too long.
			</p>

			<figure>
				<img src="/images/landings-new/toggl.png" srcset="/images/landings-new/toggl.png 1x, /images/landings-new/toggl@2x.png 2x" alt="Teamweek Screenshot">
				<figcaption>Toggl</figcaption>
			</figure>
			<h2>5. Toggl</h2>
			<p>
				Toggl is the best source of feedback when you need to evaluate how well all of your projects were planned. Was there something that took a lot more time than estimated? Was there anything that you spent far less time on?
			</p>
			<p>
				No one is born with excellent time management skills. It needs to be practiced, evaluated and then evaluated once more. And every evaluation needs some sort of feedback.
			</p>
			<p>
				The direct feedback Toggl allows, helps you become better at estimating and evaluating time, especially if you have to do it for others and in a remote setting. Since people work differently and find different things challenging, it’s useful to ask people to use Toggl. And do it for reference.
			</p>
			<p>
				It’s super important to stress, however, that if you start controlling their input or using the information they’ve trusted you with to be a micromanager, you better not start measuring time at all. It will destroy every bit of trust you’ve built.
			</p>
			<p>
				Toggl is also perfect for staying on task and focused. It’s a habit that is harder and harder to come by as time goes on. Once you start tracking your hours, it will soon prove pointless to switch between tasks or procrastinate. The latter will make you feel guilty and the first is just confusing when you really start counting your hours.
			</p>
		</div>
	</div>
</div>
