---
title: "Time Estimation Hacks – Teamweek"
description: "Teamweek suggest you estimate your time to get a better overview. Here’s 4 simple hacks to help you succeed."
layout: "landing-new"
theme_color: white
header_color: white page-header--home
---

<div class="single-header">
  <div class="single-title">
    <div class="single-title-box">
      <h1>Time Estimation Hacks</h1>
      <div class="social share42init"></div>
    </div>
  </div>
</div>

<div class="content">
	<div class="post status-publish">
		<div class="entry-content">
			<h2>4 Things You Wish You’d Known Before</h2>
			<p>
				Working in a cross-functional team, time estimation is a thing almost everyone struggles with. How are you supposed to know how much you’re spending on something, especially if you have many simultaneously ongoing projects? And when it’s something you haven’t done before, estimating seems sometimes impossible.
			</p>
			<blockquote>
				"There are a few rules of thumb,
        however, that can make estimating
        your time a tiny bit easier. "
			</blockquote>
			<p>
        The other thing with time estimation, especially if you work in or alongside a team, is that it’s the most important thing for the entire workflow. It helps to manage other people’s expectations, as well as help to hold deadlines in place. Communicating time estimations – as well as any delays or hiccups in the process is super important for any project to succeed also shows the respect towards other people’s time.
      </p>
			<h2>1. Understand The Project</h2>
			<p>
        This means mainly asking questions.
      </p>
			<p>
        What are your client’s goals? What is the business problem they’re trying solve with your help? Why did they turn to you? What are their expectations and how fast would they need you to deliver? What is their budget?
      </p>
      <p>
        This information serves as the base for your planning and time estimation. You need to understand your customers’ expectations and overall experience in working with teams like you, so you could estimate how much time you’re going to put into explaining and coordinating.
      </p>
			<h2>2. Understand Your Team’s Responsibilities</h2>
			<p>
			Now take the project to your team. Ask what does each team member need for the project to succeed? What kind of information? Do you have all competences covered or should you take on a freelancer that has another set of skills?
      </p>
			<p>
				This is one of the most important steps in time estimation, regardless the fact if you’re only estimating your own time or trying to put together an action plan for the entire team. Actions have sequences and your every team member has their own flow. It’s up for them to understand who they get their information from and what’s the pecking order in that process you’ve designer. Help them all understand that unless they stick to deadlines, someone on your team is going to wait on them. And that’s eventually going to drag the project along.
      </p>
			<blockquote>
				"Actions have sequences and
        your every team member has their own flow."
			</blockquote>
      <h2>3. Trust Your Gut</h2>
			<p>
			While estimating, it’s hugely important to trust yourself. What is gut? In our opinion, it’s really just another word for drawing conclusions from your experience and put them to the future use.
      </p>
			<p>
			So, don’t worry if you need to plan something you’ve never really done before. If you have any experience in the field you’re working on, you can approximately estimate how much time you’re going to need to set up the task, get to know some new techniques and start the job.
      </p>
      <blockquote>
				"Don’t worry if you need to plan something
        you’ve never really done before."
			</blockquote>
			<p>
			Be sure to add some buffer time, though. Because plans always change, you know there are going to be surprises. So take this into account.
      </p>
      <h2>4. Set Deadlines and Prioritise</h2>
			<p>
			Now, knowing how much each task in the project takes, you can create a timeline that would lead up to the successful finish. Make a point of adding some buffer time between each project, just as much as you can, based on the deadline. Because no one will be hurt when you end your project just a tiny bit too soon, but postponing a deadline can, however, make your relationship with your clients rocky and their expectations harder to manage.
      </p>
			<p>
			Make sure you know the project inside and out. Underline every priority task and mark them with a milestone, so you’d have deadlines set and communicated for the entire team.
      </p>
      <blockquote>
        "Make a point of adding
        some buffer time between each project."
      </blockquote>
			<p>
			Now, you’re ready to start estimating. Just keep in mind that communication is the key and if you need to postpone anything, make sure everyone, especially your clients, are informed and on the same boat with the decision.
      </p>
		</div>
	</div>
</div>
